/*----------------------------------*\
              GROUPES 
\*----------------------------------*/
.groups{
	float:left;
	margin-top: 200px;
	width: 200px;
	padding: 15px; 
	padding-top: 0;
	background-color: #fff;
	border: solid 1px rgba(0,0,0,0.1);
	border-bottom: solid 1px rgba(0,0,0,0.2);/*
	-webkit-box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.75);*/
	word-wrap: break-word;
}
.groups h4{
	text-align: center;
}
.group{
	display: block;
	width: 100%;
	border-bottom: 1px solid silver;
}
.group-name{
	padding-left: 23px;
	font-size: 12px;
	z-index: 1;
}
.group-img{
	width: 20px;
	position: absolute;
	z-index: 1;
	height: auto;
}
.param-groups{
	padding-top: 10px;
	transition: all ease 1s;
	text-decoration: none;
}
.param-groups:hover{
	padding-left: 5px;
}
.aboutabout{
	padding-top: 10px;
}
/*----------------------------------*\
              INFOS 
\*----------------------------------*/
.infos{
	float:right;
	padding: 0;
	margin-top: 10px;
	width: 200px;/*
	-webkit-box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.75);*/
}
.infos h4{
	text-align: center;
}
.inf-t{
	display: inline-block;
	margin: 0;
	padding: 8px;
	padding-left: 0;
	width: 100%;
}
.points{
	width: 100%;
	padding:0;
	margin: 0;
	/*border-bottom: 1px solid silver;*/
	display: inline-block;
}
.p-count{
	font-weight: bold;
	float: right;
	right: 0;
	color: #e67e22;
}
.bio-bio{
	text-align: center;
	font-weight: 300;
	margin: 0;
	padding: 8px;
	padding-left: 0;
	padding-bottom: 2px;
}
/*----------------------------------*\
              BUTTON 
\*----------------------------------*/
.subscribe-btn{
	width: 100%;
	margin-top: 190px;
	float:right;
    background-color: #e67e22;
    background: -webkit-linear-gradient(#e67e22,#cf6d17);
    background: -o-linear-gradient(#e67e22,#cf6d17);
    background: -moz-linear-gradient(#e67e22,#cf6d17); 
    color: #fff;
    border: none;
	color:white;
	padding:15px;
	text-transform: uppercase;
	transition: all ease 0.5s;
}
.subscribe-btn:hover{
	cursor: pointer;
}
.subscribe-btn:focus{
	border:solid 3px #e67e22;
}