body{
	background-color: rgba(236, 240, 241,1.0);	
}
::selection {
  background: rgba(230, 126, 34, 0.8); /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: rgba(230, 126, 34, 0.8); /* Gecko Browsers */
  color: white;
}
.content{
	margin-top: 0px;
	height: 100vh;
	padding-top: 100px;
	width: 1050px;
	margin-left: calc((100% - 1050px) / 2);
	margin-right: calc((100% - 1050px) / 2);
}
.toTop{
	position: fixed;
}
.blockallz{
	padding-top: 190px;
}
/*.fixedal{
    position: fixed;
    width: 1050px;
    margin-top:-47px;
    z-index:999;
}
.fixedom{
    margin-top:220px;
}*/