menu{
    display: inline-block;
    top: 0;
    z-index: 9999;
    width: 100%;
    position: fixed;
    left: 0;
    background-color: #e67e22;
    height: 55px;
    margin: 0;
    margin-bottom: 120px;
    -webkit-box-shadow: 3px 3px 27px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 27px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 27px 0px rgba(0,0,0,0.75);
}
.logo{
    
    margin-right: 15px;
    color: #f1c40f;
    display: inline-block;
    font-size:35px;
    margin-top: -14px;
    float: left;
}
.title{
    color: white;
    display: inline-block;
    float: left;
    margin-top: -14px;
    font-size:35px;
}
.link{
    color:white;
    display: inline-block;
    float: right;
    font-size:17px;
    padding: 17px;
    margin-top:-18px;
    transition-duration: 0.3s;
    border-bottom: solid 0px #e67e22;
}
.link-look{
    color:white;
    display: inline-block;
    float: right;
    font-size:17px;
    padding: 25px;
    margin-top:-32px;
}
.link:hover{
    background-color:#f39c12;
    padding-bottom: 17px;
    border-bottom: solid 3px #e67e22;
    -webkit-box-shadow: 3px 0px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 0px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 0px 17px 0px rgba(0,0,0,0.75);
}
.container-left{
    display: inline-block;
    width:30%;
    float: left;
    margin-left:15%;
    margin-top: 100px;
    padding-right:25px;
    padding-top: 50px;
    border-right:solid silver 1px;
}
.container-right{
    display: inline-block;
    margin-left: 100px;
    width: 30%;
    margin-top: 100px;
}
.h-input{
    border:none;
    margin:10px;
    margin-top: 0;
    padding:8px;
    width: 100%;
    outline: none;
    border-bottom: solid 2px #e67e22;
    transition: all ease 1s;
}
.h-input:focus{
    margin-left:30px;
}
.leto{
    width: 100%;
    background-color: #e67e22;
    color:white;
    border:2px solid #e67e22;
    padding:8px;
    transition: all ease 1s;
    text-transform: uppercase;
}
.leto:hover{
    background-color: #fff;
    cursor: pointer;
    color: #e67e22;
    border:solid 2px #e67e22;
}
.label{
    font-size: 12px;
    margin-left:25px;
    color:white;
}
.h-input:focus > .label{
    color:black;
}
/*----------------------------------*\
              PLACEHOLDER 
\*----------------------------------*/
.input-text ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #e67e22;
}
.input-text ::-moz-placeholder { /* Firefox 19+ */
  color: #e67e22;
}
.h-input:-ms-input-placeholder { /* IE 10+ */
  color: #e67e22;
}
.h-input:-moz-placeholder { /* Firefox 18- */
  color: #e67e22;
}




*, *:after, *:before {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      /*font-family: arial;*/
    }
.form-row {
  margin-bottom: 20px;
  padding: 4px 0;
  position: relative; }
.form-block {
  border: 1px solid #cccccc;
  margin-bottom: 8px;
  padding: 8px 12px; }

.input-text {
  background-color: white;
  -webkit-appearance: none;
  border: 1px solid #cccccc;
  border:none;
  border-bottom: solid 2px #e67e22;
  font-family: Arial;
  margin-bottom: 0px;
  padding: 8px 4px;
  position: relative;
  width: 100%;
  z-index: 3; }
  .input-text:focus {
    box-shadow: 0 0 6px rgba(0, 200, 222, 0.25);
    background-color: #fafafa;
    outline: none; }

.label-helper {
  position: absolute;
  opacity: 0;
  transition: .2s bottom, .2s opacity;
  bottom: 0;
  color:#e67e22;
  left: 0;
  z-index: 1; }

.input-text:focus + .label-helper, .input-text:invalid + .label-helper {
  bottom: 95%;
  font-family: arial;
  font-size: 14px;
  line-height: 1;
  opacity: 1;
  padding: 4px; }
.input-text:invalid {
  border-left: 10px solid #f00; }
  .input-text:invalid + .label-helper::after {
    color: #f00;
    content: "X";
    font-family: arial;
    font-size: 14px;
    line-height: 1;
    padding-left: 12px; 
}
.checkall{
    margin:5px;
}.line-separator{
    margin: 0;
    margin-right:15px;
    margin-top:-4px;
    display: inline-block;
    float: left;
    height: 35px;
    border-right:3px solid #f1c40f;
    padding:0;
}