.settings{
	margin-top: 100px;
}
.header-separation{
    margin: 0;
    margin-bottom:25px;
    width:100%;
    border-bottom:1px solid #333333;
    padding:0;
    margin-top: -5px;
}
.file{
	color:orange;
	padding: 8px;
}
.file-label{
	display: inline-block;
	position: absolute;
	margin-top: 6px;
}
.inline{
	display: inline-block;
}
.options-title{
	margin-left: 10px;
	margin-top: -15px;
}
.input-file-trigger {
	width: 200px;
	padding: 8px;
	padding-left: 15px;
	margin-left: 800px;
    display: block;
    background-color: #e67e22;
    background: -webkit-linear-gradient(#e67e22,#cf6d17);
    background: -o-linear-gradient(#e67e22,#cf6d17);
    background: -moz-linear-gradient(#e67e22,#cf6d17);  color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}
.input-file {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  padding: 14px 0;
  opacity: 0;
  cursor: pointer;
}
.input-file-trigger:hover {
  background-color: #cf6d17;
    background: -webkit-linear-gradient(#cf6d17,#e67e22);
    background: -o-linear-gradient(#cf6d17,#e67e22);
    background: -moz-linear-gradient(#cf6d17,#e67e22);
}
.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
.file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}
.basics{
	display: inline-block;
}
.text{
	width: 100%;
	margin-top: 25px;
}
.text-area{
	width: 100%;
	resize: none;
	height: 40px;
	padding: 8px;
	margin-top: -15px;
}
.text-header{
	margin-left: -5px;
}
.submit{
	float: right;
	color: white;
	text-transform: uppercase;
	background-color: #e67e22;
    background: -webkit-linear-gradient(#e67e22,#cf6d17);
    background: -o-linear-gradient(#e67e22,#cf6d17);
    background: -moz-linear-gradient(#e67e22,#cf6d17);
	padding: 8px;
	text-decoration: none;
	border: solid 1px #e67e22;
	border-radius: 5px;
	width: 130px;
	text-align: center;
}
.submit:hover{
	cursor: pointer;
	background-color: #cf6d17;
    background: -webkit-linear-gradient(#cf6d17,#e67e22);
    background: -o-linear-gradient(#cf6d17,#e67e22);
    background: -moz-linear-gradient(#cf6d17,#e67e22);
}
.input-info{
	float: right;
	padding: 8px;
	right: 0;
	margin-bottom: 10px;
	width: 200px;
	margin-left: 800px;
    display: block;
}
.infos{
	margin-bottom: 70px;
}
.info-label{
	margin: 0;
	line-height: 15px;
	margin-top: 5px;
	display: block;
}