.publisher{
	width: 100%;
	/*background-color: #fff;*/
	margin-top: 50px;
	min-height: 100vh;
	padding: 25px;
}
.block-title{
	display: inline-block;
}
.submit-btn{
	display: inline-block;
	float: right;
}
.block-img{
	width: 35px;
	padding-top: 18px;
	position: absolute;
	z-index: 1;
	height: auto;
}
.block-name{
	display: inline-block;
	padding-top: 3px;
	padding-left: 45px;
	color: #333333;
}
.block-points{
	display: inline-block;
	color: #2c3e50;
}
.block-date{
	padding-left: 45px;
	margin: 0;
	margin-top: -10px;
	font-size: 10px;
	color: #2c3e50;
}
.btn{
	margin-left: -110px;
	margin-top: 15px;
	position: absolute;
	color: white;
	text-transform: uppercase;
	background-color: #e67e22;
    background: -webkit-linear-gradient(#e67e22,#cf6d17);
    background: -o-linear-gradient(#e67e22,#cf6d17);
    background: -moz-linear-gradient(#e67e22,#cf6d17);
	padding: 8px;
	text-decoration: none;
	border: solid 1px #e67e22;
	border-radius: 5px;
	width: 100px;
	text-align: center;
}
.btn:hover{
	background-color: #cf6d17;
    background: -webkit-linear-gradient(#cf6d17,#e67e22);
    background: -o-linear-gradient(#cf6d17,#e67e22);
    background: -moz-linear-gradient(#cf6d17,#e67e22);
}
.text{
	width: 100%;
	padding: 10px;
	padding-top: 15px;
}
.text-area{
	width: 101%;
	resize: none;
	height: 200px;
	padding: 18px;
	margin-left: -10px;
}
.options{
	
}
.options-form{
	margin-left: 20px;
}
.file{
	color:orange;
	padding: 8px;
}
.file-label{
	display: inline-block;
	position: absolute;
	margin-top: 6px;
}
.inline{
	display: inline-block;
}
.options-title{
	margin-left: 0px;
	margin-bottom: 15px;
	margin-top: -15px;
}
.input-file-trigger {
	width: 200px;
	padding: 8px;
	padding-left: 15px;
	margin-left: 170px;
  display: block;
  background-color: #e67e22;
    background: -webkit-linear-gradient(#e67e22,#cf6d17);
    background: -o-linear-gradient(#e67e22,#cf6d17);
    background: -moz-linear-gradient(#e67e22,#cf6d17);  color: #fff;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
}
.input-file {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  padding: 14px 0;
  opacity: 0;
  cursor: pointer;
}
.input-file:hover + .input-file-trigger,
.input-file:focus + .input-file-trigger,
.input-file-trigger:hover,
.input-file-trigger:focus {
  background-color: #cf6d17;
    background: -webkit-linear-gradient(#cf6d17,#e67e22);
    background: -o-linear-gradient(#cf6d17,#e67e22);
    background: -moz-linear-gradient(#cf6d17,#e67e22);
}
.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
.file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}
.photo{
	display: inline-block;
}
.category{
	display: inline-block;
	float: right;
	position: absolute;
	right: calc((100% - 930px)/2);
}
.category-label{
	margin-left: -400px;
	position: absolute;
	display: inline-block;
	margin-top: -30px;
}
.select{
	margin-top: -35px;
	margin-left: -70px;
	padding: 8px;
}
.video{

}
.video-label{
	display: inline-block;
}
.video-input{
	display: inline-block;
	padding: 8px;
	width: 650px;
}
.where{
	display: inline-block;
}
.where-label{
	display: inline-block;
}
.where-input{
	display: inline-block;
	padding: 8px;
	float: right;
	width: 415px;
}
.error{
	width: 900px;
	margin-left: 25px;
}
.error-text{
	padding: 10px;
	border: solid red 1px;
	border-radius: 8px;
	background-color: #ff6666;
	color:white;
}
.error-textOK{
	padding: 10px;
	border: solid green 1px;
	border-radius: 8px;
	background-color: #4caf50;
	color:white;
}
.g-select{
	float: right;
	margin-right: 10px;
	margin-top: 12px;
	margin-left: -70px;
	padding: 8px;
}
.notify-controller {
  float: right;
  display: inline-block;
  width: 80px;
  height: 26px;
  background: #e67e22;
  margin: 20px auto;
  position: absolute;
  right: calc((100% - 1100px) / 2);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.notify-controller:after {
  content: 'NON';
  color: #000;
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.notify-controller:before {
  content: 'OUI';
  color: #FFF;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}
.notify-controller label {
  display: block;
  width: 34px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #FFF;
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.notify-controller input[type=checkbox] {
  visibility: hidden;
}
.notify-controller input[type=checkbox]:checked + label {
  left: 43px;
}
.notifier{
	display: inline-block;
	width: 1000px;
	position: absolute;
	right: calc((100% - 830px)/2);
	margin-top: -25px;
}
.notifier:before{
	content: 'Notifier mes abonnés qui le souhaitent :';
	font-size: 17px;
	margin-top: 25px;
	margin-left: 110px;
	position: absolute;
}