/*----------------------------------*\
              GROUPES 
\*----------------------------------*/
.groups{
	position: fixed;
	top: 100px;
	margin-left: calc((100% - 1165px) / 2);
	width: 200px;
	padding: 15px; 
	background-color: rgba(255,255,255,0.8);
	-webkit-box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.75);
}
.groups h4{
	text-align: center;
}
.group{
	display: block;
	width: 100%;
	border-bottom: 1px solid silver;
}
.group-name{
	padding-left: 23px;
	font-size: 12px;
	z-index: 1;
}
.group-img{
	width: 20px;
	position: absolute;
	z-index: 1;
	height: auto;
}
.param-groups{
	padding-top: 10px;
	transition: all ease 1s;
	text-decoration: none;
}
.param-groups:hover{
	padding-left: 5px;
}
.aboutabout{
	padding-top: 10px;
}