body{
	text-align: center;
}
.container{
	margin-top: 100px;
}
.error{
	text-align:center;
}
.sub-title{
	text-align: center;
}
/*----------------------------------*\
              FORM 
\*----------------------------------*/
.formed{

}
.logo-paypal{
	width: 100px;
	display: inline-block;
}
.select{
	width: 40%;
	border: solid #2c3e50 1px;
	border-radius:15px;
	outline: none;
	padding: 10px;
}
.name-secure{
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid #2c3e50 3px;
	width: 40%;
	margin: 20px;
	padding: 10px;
}
/*----------------------------------*\
              ALERT 
\*----------------------------------*/
.alert3{
	background-color: #4d94ff;
	border:blue solid 1px;
	border-radius: 10px;
	padding-left: 25px;
	padding-right: 25px;
	width: 50%;
	margin: 15px;
	margin-left: 25%;
}
.alert-text{
	display: inline-block;
	color: white;
}
.alert-link{
	display: inline-block;
	padding-left: 15px;
	color: white;
}
.alert1{
	background-color: #ff4d4d;
	border:red solid 1px;
	border-radius: 10px;
	padding-left: 25px;
	padding-right: 25px;
	width: 50%;
	margin: 15px;
	margin-left: 25%;
}
.alert2{
	background-color: #5cd65c;
	border:green solid 1px;
	border-radius: 10px;
	padding-left: 25px;
	padding-right: 25px;
	width: 50%;
	margin: 15px;
}
/*----------------------------------*\
              LINK 
\*----------------------------------*/
.href{
	display: inline-block;
}
.href3{
	cursor: pointer;
	border: solid #ff9933 1px;
	width: 110px;
	transition:all ease 0.5s;
	padding: 8px;
	margin: 1.5px;
	border-radius: 0;
	background: #ff9933;
	color: white;
	outline: none;
	text-decoration:none; 
	display: inline-block;
	margin-left: 25px;
}
.href3:hover{
	background: #ededed;
	border-radius: 15px;
	border:solid 1px #2c3e50;
	color: #2c3e50;
}
.inline{
	display: inline-block;
}