.fixed{
	display: none;
}
/*----------------------------------*\
              BLOCKS 
\*----------------------------------*/
.block{
	margin:10px;
	transition-duration: 1s;
	width: 700px;
	background: rgba(255,255,255, 0.75);
	border: solid 1px silver;
	padding:0;
	margin-left: calc((100% - 840px)/2);
	-webkit-box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.75);
}
.block-post{
	margin:10px;
	width: 600px;
	background: #ededed;
	border: solid 1px silver;
	margin-left: 32%;
}
.post-status{
	width: 100%;
	height: 81px;
	padding: 15px;
}
.iframe{
	margin: 25px;
	margin-left: 8%;
}
.status-post{
	width: 100%;
	height: 30px;
	margin: 0; 
	margin-top: -10px;
	background: #2c3e50;
	color: white;
	border: none;
	padding: 3px; 
	transition: all ease 1s;
}
.status-post:hover{
	color: #2c3e50;
	background: #fff;
	border:#2c3e50 solid 1px;
}
textarea{
	resize: none;
	border-bottom: none;
}
textarea:focus{
	
}
.warning{
	color: red;
	padding-left: 15px;
}
.block2{
	margin:10px;
	width: 60%;
	background: rgba(255,255,255, 0.9);
	border: solid 1px silver;
	padding:0;
	margin-left: 250px;
}
.block-title{
	display: inline-block;
	width: 100%;
	padding-left: 15px;
}
.block-img{
	width: 35px;
	padding-top: 18px;
	position: absolute;
	z-index: 1;
	height: auto;
}
.abouts{
	display: inline-block;
	width: 100%;
	padding: 5px; 
}
.block-more{
	display: inline-block;
	float: right;
	margin-right: 10px;
	color:silver;
	text-decoration: none;
	transition: all ease 0.8s; 
}
.block-more:hover{
	text-decoration: underline;
	color: #2c3e50;
}
.like{
	display: inline-block;
	margin-top: -40px;
	margin-left: 10px;
	color: #2c3e50;
	text-decoration: none;
	transition: all ease 0.5s;
}
.like:hover{
	
}
.block-name{
	display: inline-block;
	padding-top: 3px;
	padding-left: 45px;
	color: #333333;
}
.block-points{
	display: inline-block;
	color: #2c3e50;
}
.block-bio{
	padding: 15px; 
}
.block-date{
	padding-left: 45px;
	margin: 0;
	margin-top: -10px;
	font-size: 10px;
	color: #2c3e50;
}
/*----------------------------------*\
              ABOUT 
\*----------------------------------*/
.about-vues{
	display: inline-block;
	padding-left: 15px;
}
.about-ratio{
	display: inline-block;
	padding-left: 15px;
}
.about-button{
	display: inline-block;
	float: right;
}
/*----------------------------------*\
            IMAGES/VIDEO 
\*----------------------------------*/
.video {
position: relative;
padding-bottom: 50.85%;
padding-top: 30px;
height: 0;
overflow: hidden;
margin-left: 5%;
margin-bottom: 25px;
margin-right: 5%;
margin-top: 25px;
}
.video iframe,
.video object,
.video embed {
	z-index: 1;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
margin: 0;
}
.images{
	z-index: 1;
	position: relative;
	margin-left: 5%;
	margin-bottom: 25px;
	margin-right: 5%;
	margin-top: 25px;
}
.image{
	width: 90%;
	margin-left: 5%;
	cursor: pointer;
}
.image-op{
	z-index: 999999;
	position: fixed;
	left:0;
	width: 60%;
	opacity: 1;
	margin-left: 20%;
	top: 10vh;
}
.image-op2{ /*--Masque opaque noir de fond--*/
	background: rgba(0,0,0,0.9);
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	z-index: 99999;
}
.image-op2 > img{
	opacity: 1;
}
.errbut{
	display: none;/*Masqué par défaut*/
	position: fixed;
	z-index: 99999999;
	left: calc(80% - 20px);
	top:9vh;
	cursor: pointer;
}
.displayed{
	display: block;
}