body{
	background-color: #ededed;
}
.container{
	margin-top: 100px;
}
.comments{
	background-color: #e5e7ea;
	border-top: solid 1px #cfd1d3;
	padding: 10px;
	padding-top: 0px;
	margin-top: -5px;
}
.comment-content{
	padding-left: 45px;
	margin-right: 20px;
	margin-top: -10px;
	font-size: 10px;
	color: #2c3e50;
	margin-bottom: 0;
}
.comment-date{
	font-size:11px;
}
.block-comment{
	border-bottom: solid 1px #cfd1d3;
}
.comment-like{
	display: inline-block;
	float:right;
	padding:0;
	margin:0;
	padding-right: 5px;
	font-size: 11px;
	color: #2c3e50;
	text-decoration: none;
}
.comment-like:hover{
	
}
.comment-name{
	color: #333333;
	margin-bottom: -10px;
}
.back{
	position: fixed;
	left:30px;
}
.back-img{
	position:fixed;
	padding: 8px;
	padding-left:3px;
	left:25px;
	width: 45px;
	height: 45px;
	background-color: #e67e22;
	border-radius: 50%;
	transition: all ease 1s;
}
.back-img:hover{
    transform: rotate(360deg);
}
.pub{
	position: fixed;
	left:  calc(((100% - 1130px) / 2) + 860px);
	top: 100px;
	width: 300px;
	padding: 10px;
	background-color: white; 
	-webkit-box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.75);
}
.pub-image{
	width: 280px; 
}
.forms{
	border-bottom: solid 1px silver;
	padding-bottom: 8px;
}
.comment-input{
	margin-top: -10px;
	width: 675px;
	height: 100px;
	border:solid silver 1px;
	padding: 5px;
}
.post-btn{
	text-transform: uppercase;
	margin-top: -10px;
	background-color: white;
	border: solid silver 1px;
	color: rgba(0,0,0,0.7);
	width: 675px;
	transition: all ease 0.5s;
}
.post-btn:hover{
	background-color:#ededed;
	cursor: pointer;
}
