body{
	
}
.content{
	margin-top: 0px;
	height: 100vh;
	padding-top: 100px;
	width: 70%;
	margin-left: 15%;
}
@media only screen and (max-width: 1400px){
	.content{
		margin-left:0;
	}
}
.social{
	margin-top: 0px;
}