.line-separator{
    margin: 0;
    margin-right:15px;
    margin-top:-4px;
    display: inline-block;
    float: left;
    height: 35px;
    border-right:3px solid #33ccff;
    padding:0;
}
.line-separator2{
    margin: 0;
    margin-right:35%;
    margin-left:35%;
    margin-bottom:25px;
    width:30%;
    border-bottom:3px solid #ffffff;
    padding:0;
}
.line-separator3{
    margin: 0;
    margin-right:47%;
    margin-left:47%;
    margin-bottom:25px;
    width:6%;
    border-bottom:3px solid #333333;
    padding:0;
}
.line-separator4{
    margin: 0;
    margin-right:47%;
    margin-left:47%;
    margin-bottom:25px;
    width:6%;
    border-bottom:3px solid white;
    padding:0;
}
.line-separator5{
    margin: 0;
    margin-right:35%;
    margin-left:35%;
    width:30%;
    border-bottom:3px solid #333333;
    padding:0;
}
.line-separator6{
    margin: 0;
    margin-right:10%;
    margin-left:10%;
    width:80%;
    border-bottom:3px solid #333333;
    padding:0;
}
.line-separator7{
    margin: 0;
    margin-bottom: 5px;
    margin-top: 5px;
    width:100%;
    border-bottom:3px solid #333333;
    padding:0;
}