.pubs{
	width: 20%;
	position: fixed;
	background: rgba(255,255,255,0.8);
	right: 0;
	margin-right: 25px;
	padding: 10px;
}
.pub-img{
	width: 100%;
}
.pub-header{
	margin-top: -10px;
}
@media only screen and (max-width: 1400px){
	.container{
		margin-left: 0;
	}
	.pubs{
		left:0;
		width: 200px;
		margin-left: 25px;
	}
	.pub-img{
		width: 180px;
	}
	.info{
		margin-top: 220px;
	}
	.groups{
		margin-top: 150px;
	}
}
@media only screen and (max-width: 1500px) and (min-width: 1401px){
	.pubs{
		width: 300px;
	}
}