.row{
  display: block;
  width: 100%;
  margin: 0;
  margin-top: -5px;
  border-bottom: solid rgba(0,0,0,0.05) 1px;
}
.notify-profile-name{
  display: inline-block;
}
.notify-controller {
  float: right;
  display: inline-block;
  width: 80px;
  height: 26px;
  background: #e67e22;
  margin: 20px auto;
  position: absolute;
  right: calc((100% - 1100px) / 2);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.notify-controller:after {
  content: 'NON';
  color: #000;
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.notify-controller:before {
  content: 'OUI';
  color: #FFF;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}
.notify-controller label {
  display: block;
  width: 34px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #FFF;
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.notify-controller input[type=checkbox] {
  visibility: hidden;
}
.notify-controller input[type=checkbox]:checked + label {
  left: 43px;
}
.notify-title{
  margin: 0;
  margin-top: 20px;
}
.notify-description{
  margin: 0;
  margin-bottom: 25px;
}
.notify-save{
    float: right;
    color: white;
    margin-top: 25px;
    background-color: #e67e22;
    border: solid 2px #e67e22;
    border-radius: 5px;
    padding: 12px;
    padding-left: 16px;
    padding-right: 16px;
}
.notify-save:hover{
    cursor: pointer;
}
.lowerfont{
  font-size: 12px;
}
.green{
  color: green;
}
.red{
  color: red;
}
/*Redirecting.php*/
.container{
  padding-top: 80px;
  text-align: center;
}
.container h3{
  margin-top: -25px;
}
.triple-points{
  margin-top: -200px;
}
.container h1 {
  font-size: 40px;
}

.container h1 span {
  font-size: 200px;
  color: #e67e22;
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.container h1 span:nth-child(2) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.container h1 span:nth-child(3) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

@-webkit-keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}
