.abouts{
	border-top: 1px solid rgba(0,0,0,0.1);
}
.error-image{
  width: 580px;
  margin: 10px;
  margin-top: 0;
}
.eyes-css{
	float: right;
	margin-right: 15px;
	height: 25px;
}
.block-views{
	float: right;
	margin-top: 10px;
	color: #2c3e50;
	display: inline-block;
}
.like:hover{
	cursor: pointer;
}
progress {
  display: block;
  height: 15px;
  border: 3px solid white;
  border-radius: 5px;
  background-color: red;
  margin-bottom: -2px;
}
.progress-one{
  width: 355px;
}
.progress-two{
  width: 345px;
}
.progress-three{
  width: 335px;
}
.progress-four{
  width: 325px;
}
.progress-five{
  width: 315px;
}
.progress-six{
  width: 305px;
}
.progress-seven{
  width: 295px;
}
.progress-height{
  width: 285px;
}
@-webkit-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}
@-moz-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}
@keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}
progress::-webkit-progress-bar {
  border-radius: 5px;
  background-color: #ff3333;
}
progress::-webkit-progress-value {
  background-color: #e67e22;
  background-image: -webkit-linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));
  background-image: linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));
  background-size: 40px 40px;
  -webkit-animation: progress 8s linear infinite;
  animation: progress 8s linear infinite;
}
progress::-moz-progress-bar {
  border-radius: 5px;
  background-color: #a5d62f;
  background-image: linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));
  background-size: 40px 40px;
  -moz-animation: progress 8s linear infinite;
  animation: progress 8s linear infinite;
}