/* mobile only */
.mobile-only{
  display: none;
}
/* Components */
.menu{
    display: inline-block;
    top: 0;
    z-index: 9999;
    width: 100%;
    position: fixed;
    left: 0;
    background-color: #e67e22;
    background: -webkit-linear-gradient(#e67e22,#cf6d17);
    background: -o-linear-gradient(#e67e22,#cf6d17);
    background: -moz-linear-gradient(#e67e22,#cf6d17);
    height: 55px;
    margin: 0;
    margin-bottom: 120px;
    -webkit-box-shadow: 3px 3px 27px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 27px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 27px 0px rgba(0,0,0,0.75);
}
.menu-box-gl{
  max-width: 1215px;
  margin-left: calc((100vw - 1255px)/2);
}
.logo{    
    margin-right: 15px;
    color: #f1c40f;
    display: inline-block;
    font-size:35px;
    margin-top: -10px;
    float: left;
}
.kamelogo{
  width: 45px;
  height: 45px;
  border-radius: 15px;
}
.title{
    color: white;
    display: inline-block;
    margin-left: -8px;
    float: left;
    margin-top: -14px;
    font-size:35px;
}
.link{
    color:white;
    display: inline-block;
    float: right;
    font-size:17px;
    padding: 17px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -15px;
    margin-top:-18px;
    transition:all ease 0.3s;
    border-bottom: solid 0px #e67e22;
  transform: scale(0.8);
}
.linkz{
    color:white;
    display: inline-block;
    float: right;
    font-size:17px;
    padding: 17px;
    margin-top:-18px;
    border-bottom: solid 0px #e67e22;
    margin-left: -55px;
}
.notes{
  height: 60px;
  position: fixed;
  left:  calc(((100% - 1150px) / 2) + 860px);
  z-index: 99999;
  top: 100px;
  display: inline-block;
  -webkit-box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.75);
    background-color: #e67e22;
    background: -webkit-linear-gradient(#e67e22,#cf6d17);
    background: -o-linear-gradient(#e67e22,#cf6d17);
    background: -moz-linear-gradient(#e67e22,#cf6d17);
}
.notes-block{
  margin-left: 35px;
}
.note{
  display: inline-block;
  width: 50px;
  transition: all ease 0.4s;
}
.profile-note{
  width: 40px;
  height: 40px;
  margin-top: -3.5px;
  margin-left: -5px;
  border: solid transparent 1px;
  border-radius: 50%;
  opacity: 0.9;
  transition: all ease 0.5s;
}
.profile-note:hover{
  opacity: 1;
}
.note:hover{
  cursor: pointer;
  transform: scale(1.2);
}
.not-value{
  display: inline-block;
  position: absolute;
  color: white;
  font-family: Baloo;
  font-size: 18px;
  margin-left: 1px;
  margin-top: -8px;
  animation: alert infinite 2s;
}
.mes-value{
  display: inline-block;
  position: absolute;
  color: white;
  font-family: Baloo;
  font-size: 18px;
  margin-left: 1px;
  margin-top: -10px;
  animation: alert infinite 2s;
}
@keyframes alert{
  0%{ transform: rotate(0deg); }
  33%{ transform: rotate(20deg); }
  66%{ transform: rotate(-20deg); }
}
.note-img{
  width: 30px;
  display: inline-block;
}
.note-details{
  z-index: 99999999999;
  background-color: red;
  color: white;
  width: 500px;
}
.link-look{
    color:white;
    display: inline-block;
    float: right;
    font-size:17px;
    padding: 25px;
    margin-top:-32px;
}
.link:hover{
  transform: scale(1);
}
.container-left{
    display: inline-block;
    width:30%;
    float: left;
    margin-left:15%;
    margin-top: 100px;
    padding-right:25px;
    padding-top: 50px;
    border-right:solid silver 1px;
}
.container-right{
    display: inline-block;
    margin-left: 100px;
    width: 30%;
    margin-top: 100px;
}
.h-input{
    border:none;
    margin:10px;
    margin-top: 0;
    padding:8px;
    width: 100%;
    outline: none;
    border-bottom: solid 2px #e67e22;
    transition: all ease 1s;
}
.h-input:focus{
    margin-left:30px;
}
.leto{
    width: 100%;
    background-color: #e67e22;
    color:white;
    border:2px solid #e67e22;
    padding:8px;
    transition: all ease 1s;
    text-transform: uppercase;
}
.leto:hover{
    background-color: #fff;
    cursor: pointer;
    color: #e67e22;
    border:solid 2px #e67e22;
}
.label{
    font-size: 12px;
    margin-left:25px;
    color:white;
}
.h-input:focus > .label{
    color:black;
}
.form{
  display: inline-block;
}
.f-input{
  display: inline-block;
  transition-duration: 0.2s;
  border : solid 1px #e67e22;
  width: 228px;
  margin-top: -3px;
  padding: 9px;
}
.f-input:focus{
  transition-duration: 0.3s;
  width: 400px;
  outline: none;
}
.looking{
  color: #e67e22;
  margin-left: -32px;
}
/*----------------------------------*\
              PLACEHOLDER 
\*----------------------------------*/
.input-text ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #e67e22;
}
.input-text ::-moz-placeholder { /* Firefox 19+ */
  color: #e67e22;
}
.h-input:-ms-input-placeholder { /* IE 10+ */
  color: #e67e22;
}
.h-input:-moz-placeholder { /* Firefox 18- */
  color: #e67e22;
}




*, *:after, *:before {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      /*font-family: arial;*/
    }
.form-row {
  margin-bottom: 20px;
  padding: 4px 0;
  position: relative; }
.form-block {
  border: 1px solid #cccccc;
  margin-bottom: 8px;
  padding: 8px 12px; }

.input-text {
  background-color: white;
  -webkit-appearance: none;
  border: 1px solid #cccccc;
  border:none;
  border-bottom: solid 2px #e67e22;
  font-family: Arial;
  margin-bottom: 0px;
  padding: 8px 4px;
  position: relative;
  width: 100%;
  z-index: 3; }
  .input-text:focus {
    box-shadow: 0 0 6px rgba(0, 200, 222, 0.25);
    background-color: #fafafa;
    outline: none; }

.label-helper {
  position: absolute;
  opacity: 0;
  transition: .2s bottom, .2s opacity;
  bottom: 0;
  color:#e67e22;
  left: 0;
  z-index: 1; }

.input-text:focus + .label-helper, .input-text:invalid + .label-helper {
  bottom: 95%;
  font-family: arial;
  font-size: 14px;
  line-height: 1;
  opacity: 1;
  padding: 4px; }
.input-text:invalid {
  border-left: 10px solid #f00; }
  .input-text:invalid + .label-helper::after {
    color: #f00;
    content: "X";
    font-family: arial;
    font-size: 14px;
    line-height: 1;
    padding-left: 12px; 
}
.checkall{
    margin:5px;
}.line-separator{
    margin: 0;
    margin-right:15px;
    margin-top:-4px;
    display: inline-block;
    float: left;
    height: 35px;
    border-right:3px solid #f1c40f;
    padding:0;
}

.results{
  width: 398px;
  position: fixed;
  z-index: 99999999; 
  top: 49px;
  background-color: #ececec;
  margin-left: calc((100vw - 490px)/2);
  padding: 4px;
  border: solid silver 1px;
  border-top: solid 1px #e67e22;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;
}
.results::-webkit-scrollbar {
    width: 4px;
}
 
.results::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #333333;
}
 
.results::-webkit-scrollbar-thumb {
  background-color:  #e67e22;
  outline: 1px solid slategrey;
}
.resulted{
  display: block;
  animation: resulted 0.8s;
}
@keyframes resulted{
  0%{ display: block; opacity: 0; }
  100%{ opacity: 1; }
}
.result{
  width: 386px;
  padding: 4px;
  border-bottom: solid 1px silver;
}
.result-img{
  width: 40px;
  display: inline-block;
}
.result-about{
  display: inline-block;
  color: #333333;
  position: absolute;
  margin-left: 10px;
  margin-top: 8px;
}
.r-about{
  margin: 0;
}