.pub{
	position: fixed;
	left:  calc(((100% - 1150px) / 2) + 860px);
	top: 100px;
	width: 300px;
	z-index: 98;
	padding: 10px;
	padding-top: 0;
	background-color: white; 
	-webkit-box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.75);
}
.pub-image{
	width: 280px;
}