.social{
	width: 600px;
	height: 65px;
	padding: 15px;
	padding-top: 10px; 
	margin-left: 250px;
	border: solid 1px rgba(0,0,0,0.1);
	border-bottom: solid 1px rgba(0,0,0,0.2);
	background-color: white;/*
	-webkit-box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.75);*/
    display: inline-block;
}
.social-header{
	display: inline-block;
}
.social-text{
	margin-top: 12px;
	/*animation: flash 2s infinite ;*/
}
@keyframes flash{
	0%{
		opacity: 0.5;
	}
	50%{
		opacity: 1;
		padding-left: 20px;
	}
	100%{
		opacity: 0.5;
	}
}
.social-log{
	display: inline-block;
	width: 45px;
	margin-left: 2px;
	margin-right: 2px;
	float: right;
	transition: all ease .4s;
}
.social-log:hover{
	cursor: pointer;
	filter : opacity(0.5);
}