body{
	background-color: rgba(236, 240, 241,1.0);
}
.content{
	margin-top: 0px;
	height: 100vh;
	padding-top: 100px;
	width: 1150px;
	margin-left: calc((100% - 1200px) / 2);
	margin-right: calc((100% - 1150px) / 2);
}
.social{
	margin-top: 0px;
}